<div>

    <div style="padding: 4px;">
        <div style="float: right;">
            <input (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilterInput" placeholder="Type text to filter..."/>
            <button [disabled]="!showGrid" (click)="showGrid=false">Destroy Grid</button>
            <button [disabled]="showGrid" (click)="showGrid=true">Create Grid</button>
        </div>
        <div>
            <b>Todo Items</b>
            {{rowCount}}
        </div>
    </div>
    <div style="clear: both;"></div>

    <div *ngIf="showGrid">

        <!-- Because we are using the Angular ID (ie #ag-grid marker), we have to have all the items that use
             that marker inside the same ng-if as the grid -->

        <div style="padding: 4px;" class="toolbar">
            <span>
                Grid API:
                <button (click)="agGrid.api.selectAll()">Select All</button>
                <button (click)="agGrid.api.deselectAll()">Clear Selection</button>
            </span>
            <span style="margin-left: 20px;">
                Column API:
                <button (click)="agGrid.columnApi.setColumnVisible('description', false)">Hide Description Column</button>
                <button (click)="agGrid.columnApi.setColumnVisible('description', true)">Show Description Column</button>
            </span>
        </div>
        <div style="clear: both;"></div>
        <div style="padding: 4px;" class="toolbar">
            <button (click)="createDataSource()">Refresh Data</button>
        </div>
        <div style="clear: both;"></div>

        <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-blue"

                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [showToolPanel]="showToolPanel"
                     rowModelType = "pagination"
                     [datasource] = "dataSource"

                     enableColResize
                     enableSorting
                     enableFilter
                     groupHeaders
                     suppressRowClickSelection
                     toolPanelSuppressGroups
                     toolPanelSuppressValues
                     debug
                     rowHeight="22"
                     rowSelection="multiple"

                     (modelUpdated)="onModelUpdated()"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)"
                     (cellValueChanged)="onCellValueChanged($event)"
                     (cellFocused)="onCellFocused($event)"
                     (rowSelected)="selected.emit(item)"
                     (selectionChanged)="onSelectionChanged()"
                     (beforeFilterChanged)="onBeforeFilterChanged()"
                     (afterFilterChanged)="onAfterFilterChanged()"
                     (filterModified)="onFilterModified()"
                     (beforeSortChanged)="onBeforeSortChanged()"
                     (afterSortChanged)="onAfterSortChanged()"
                     (virtualRowRemoved)="onVirtualRowRemoved($event)"
                     (rowClicked)="onRowClicked($event)"
                     (ready)="onReady($event)"

                     (columnEverythingChanged)="onColumnEvent($event)"
                     (columnRowGroupChanged)="onColumnEvent($event)"
                     (columnValueChanged)="onColumnEvent($event)"
                     (columnMoved)="onColumnEvent($event)"
                     (columnVisible)="onColumnEvent($event)"
                     (columnGroupOpened)="onColumnEvent($event)"
                     (columnResized)="onColumnEvent($event)"
                     (columnPinnedCountChanged)="onColumnEvent($event)">
        </ag-grid-ng2>
        <div>
            Page Size:
            <select #size (change)="onPageSizeChanged($event.target.value)">
                <option value="10" selected>10</option>
                <option value="100">100</option>
                <option value="500" >500</option>
                <option value="1000">1000</option>
            </select>
        </div>

        <button *ngIf="agGrid.api.getSelectedRows().length > 0" (click)="onOpen()" class="ag-paging-button">Delete</button>
    </div>

    <modal #modal style="display: none;" [animation]="true" [size]="'sm'">
        <modal-header>
            <h4 class="modal-title">Alert!</h4>
        </modal-header>
        <modal-body>
            Are you sure?
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">No</button>
            <button type="button" class="btn btn-primary" (click)="deleteItems($event)">Yes</button>
        </modal-footer>
    </modal>

</div>